@import "root.css";

.current-weather-data {
  text-align: center;
  background-color: var(--color-4);
}

.current-weather-data-value {
  color: var(--text-blue);
  font-size: 3rem;
  line-height: 1;
  padding: 0.5rem;
}

.current-weather-tagline {
  padding-top: 1rem;
  letter-spacing: 0.2px;
  padding: 0.4rem;
  background-color: var(--color-4);
}
