.header {
  text-align: center;
  border: transparent;
  background-color: var(--color-2);
  padding: 2rem 3rem;
  border-bottom: 5px solid rgba(2, 19, 32, 0.7);
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  color: white;
  letter-spacing: 0.8px;
  line-height: 35px;
}

.weather-title-icon {
  display: flex;
  height: 45px;
  width: 49px;
  margin-top: 0rem;
}
