@import "root.css";

.hourly-weather-data {
  text-align: center;
  background-color: var(--main-white);
  margin-bottom: 30px;
}

.hourly-weather-data-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hourly-weather-tagline {
  padding-top: 1rem;
  letter-spacing: 0.3px;
  padding: 1rem;
  margin-bottom: 0;
  color: var(--main-white);
  background-color: var(--color-2);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hourly-weather-data-city {
  color: var(--main-white);
}

.hourly-weather-data-property {
  display: flex;
  width: 320px;
  flex-basis: 0px;
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* zebra stripe the hourly data rows */
.hourly-weather-data-property:nth-of-type(odd) {
  background: var(--color-4);
  padding: 1rem;
}

.hourly-weather-data-property:nth-of-type(even) {
  background: var(--color-5);
  padding: 1rem;
}

.hourly-weather-data-property:last-child {
  border-bottom: 0px solid rgba(0, 0, 0, 0);
}
