:root {
  --main-font: "Tahoma", sans-serif;
  --main-black: #000;
  --main-white: rgb(236, 236, 236);
  --color-1: #adadad;
  --color-2: #005791;
  --color-3: rgba(76, 76, 77, 0.315);
  --color-4: #bfe1f8;
  --color-5: #d3d2d2;
  --text-1: #616161;
  --text-2: #e4e4e4;
  --text-blue: #165791;
}
